.bar {
  background-color: #c69963;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100vh;
  width: 5rem;

  @media (max-width: 1200px) {
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 20;
  }
}
// width=100%
// height=5rem
// fixed
