.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(
      to right,
      rgba(16, 29, 44, 0.93),
      rgba(16, 29, 44, 0.93)
    ),
    url(../img/hero.jpeg);
  background-position: center;
  background-size: cover;
  // width: 100%;
  margin-left: 5rem;
  padding: 4rem;
  // padding-top: 4rem;

  &-home {
    width: 60%;
    text-transform: uppercase;
    line-height: 2.5;
  }

  &__home {
    font-size: 1.8rem;
    color: #c69963;
    font-family: "Josefin Sans", sans-serif;
  }

  &__freedom {
    color: white;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
  }

  @media (max-width: 1196px) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 100vw;
    // max-width: fit-content;
  }
}
