.nexter-logo {
  display: flex;
  justify-content: start;
  object-fit: cover;
}
.header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-between;
  gap: 2rem;
  //   gap: 10rem;
  //   gap: 10rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  // width: 100%;

  @media (max-width: 630px) {
    margin-bottom: 0;
    margin-bottom: 0;
  }
}
.bbc-logo {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-self: center;
  //   flex-direction: row;
  //   justify-content: space-between;
  height: 2rem;
  width: 7rem;
  margin-top: 5rem;
}
