.nexter-logo {
  display: flex;
  justify-content: center;
}
.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //   gap: 10rem;
  //   gap: 10rem;
  height: 2rem;
  margin-bottom: 5rem;
}
.bbc-logo {
  //   display: flex;
  //   flex-direction: row;
  //   justify-self: center;
  //   align-self: center;
  //   flex-direction: row;
  //   justify-content: space-between;
  max-height: 2rem;
  max-width: 100%;
  margin-top: 5rem;
}
