.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  @media (max-width: 1198px) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.heading {
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
  color: #c69963;

  &-1 {
    color: #54483a;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  &-2 {
    color: #54483a;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &-3 {
    color: #c69963;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 5rem;
  }

  &-4 {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 3rem;
    color: #6d5d4b;
  }

  &-5 {
    color: #c69963;
    font-size: 1rem;
  }

  &-6 {
    position: absolute;
    text-align: center;
    justify-content: center;
    color: #f9f7f6;
    background-color: #101d2c;
    width: 80%;
    border: none;
    padding: 1rem;
    margin-top: -5rem;
    font-size: 1rem;
    font-family: "Josefin Sans", sans-serif;
    margin: auto;
  }
}
main {
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-between;
  // gap: 2rem;
  padding: 0 10rem;
  margin-left: 5rem;
  // width: 100%;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 5rem;
  margin-top: 5rem;

  &-box {
    display: flex;
    flex-direction: column;
    // gap: 5rem;
  }
}
.story {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  // padding: 10rem;
  // width: 100%;

  // &-background {
  //   // position: relative;
  // }

  &-pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c69963;
    background-image: linear-gradient(
        to right,
        rgba(198, 153, 99, 0.5),
        rgba(198, 153, 99, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;
    width: 50%;
    padding: 10rem;
    // height: inherit;
    position: relative;
  }
  &-1 {
    position: absolute;
    height: 20rem;
    width: 25rem;
    left: 3rem;
  }

  &-2 {
    position: absolute;
    height: 15rem;
    width: 30rem;
    // left: 7rem;
    // bottom: 5rem;
    // margin-right:3rem;
  }
  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 4rem;
    background-color: #f9f7f6;
    line-height: 2;
    width: 50%;
    // height: inherit;
    // text-transform: uppercase;
  }
}
.homes {
  margin-left: 5rem;
  margin-top: 3rem;
  padding: 4rem;
  position: relative;
  // width: 100%;

  &-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f9f7f6;
    // width: 100%;
  }

  &-card {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    // align-items: center;
    // justify-content: center;
  }

  &-side {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    gap: 7rem;
  }

  &-image {
    height: 15rem;
    width: 20rem;
  }
}
.span-flex {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  color: #6d5d4b;
}
